name: Update hosts and sing-box ruleset

on:
  push:
    branches:
      - main
    paths:
      - "**/*.py"
      - "hosts.txt"

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # Run sort.py to update hosts.txt
      - name: Sort hosts.txt
        run: |
          python sort.py

      # Generate temporary rules.json and compile ruleset.srs
      - name: Generate sing-box ruleset
        working-directory: sing-box
        run: |
          python to_ruleset.py ../hosts.txt rules.json
          python ruleset_compile.py rules.json ruleset.srs
          rm -f rules.json

      # Commit hosts.txt and ruleset.srs if changed
      - name: Commit & push if changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add hosts.txt sing-box/ruleset.srs
          git diff --cached --quiet && echo "Nothing changed - skipping commit" && exit 0

          git commit -m "chore: update hosts.txt and sing-box ruleset"
          git push

